Repository KUmmIT-4/backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KUmmIT-4/developers, @KUmmIT-4/backend, @seungwoo1209

.github/CODEOWNERS:

# .github/CODEOWNERS

* @KUmmIT-4/developers

/.github/CODEOWNERS             @KUmmIT-4/backend @seungwoo1209

/.github/workflows/*.yml        @KUmmIT-4/backend @seungwoo1209
/.github/workflows/*.yaml       @KUmmIT-4/backend @seungwoo1209

**/Dockerfile                   @KUmmIT-4/backend @seungwoo1209
**/.dockerignore                @KUmmIT-4/backend @seungwoo1209

CI에서 pull request 이벤트에도 반응하게 변경
  .github/workflows/CI.yml
Owners: @KUmmIT-4/backend, @seungwoo1209

pr check test
  src/main/java/com/kummit/api_server/ApiServerApplication.java
Owners: @KUmmIT-4/developers

dockerfile update
  .github/workflows/CD.yml
  Dockerfile
  src/main/java/com/kummit/api_server/ApiServerApplication.java
Owners: @KUmmIT-4/backend, @seungwoo1209, @KUmmIT-4/developers

dockerfile update
  Dockerfile
Owners: @KUmmIT-4/backend, @seungwoo1209

cd에 application.yml 복사 추가
  .github/workflows/CD.yml
Owners: @KUmmIT-4/backend, @seungwoo1209

Update CD.yml
  .github/workflows/CD.yml
Owners: @KUmmIT-4/backend, @seungwoo1209

Update CD.yml
  .github/workflows/CD.yml
Owners: @KUmmIT-4/backend, @seungwoo1209

Update CD.yml
  .github/workflows/CD.yml
Owners: @KUmmIT-4/backend, @seungwoo1209

Update CD.yml
  .github/workflows/CD.yml
Owners: @KUmmIT-4/backend, @seungwoo1209

health check c추가
  build.gradle
Owners: @KUmmIT-4/developers

엔티티 필드 Byte 매핑 적용: User.codingLevel, Problem.problemLevel, Record.userChoice 타입 변경 및 UserService 로직 업데이트
  build.gradle
  src/main/java/com/kummit/api_server/domain/Problem.java
  src/main/java/com/kummit/api_server/domain/Record.java
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/dto/UserInfoResponse.java
  src/main/java/com/kummit/api_server/dto/UserRegisterRequest.java
  src/main/java/com/kummit/api_server/repository/UserRepository.java
  src/main/java/com/kummit/api_server/service/UserService.java
  src/main/java/com/kummit/api_server/web/UserController.java
  src/main/resources/application.properties
Owners: @KUmmIT-4/developers

엔티티 필드 Byte 매핑 적용: User.codingLevel, Problem.problemLevel, Record.userChoice 타입 변경 및 UserService 로직 업데이트
  build.gradle
  src/main/java/com/kummit/api_server/domain/Problem.java
  src/main/java/com/kummit/api_server/domain/Record.java
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/dto/UserInfoResponse.java
  src/main/java/com/kummit/api_server/dto/UserRegisterRequest.java
  src/main/java/com/kummit/api_server/repository/UserRepository.java
  src/main/java/com/kummit/api_server/service/UserService.java
  src/main/java/com/kummit/api_server/web/UserController.java
  src/main/resources/application.properties
Owners: @KUmmIT-4/developers

gemini api test
  application.yml
  build.gradle
  src/main/java/com/kummit/api_server/config/GeminiConfig.java
  src/main/java/com/kummit/api_server/controller/GeminiController.java
  src/main/java/com/kummit/api_server/dto/ProblemItem.java
  src/main/java/com/kummit/api_server/dto/ProblemList.java
  src/main/java/com/kummit/api_server/service/GeminiService.java
Owners: @KUmmIT-4/developers

gemini api test
  build.gradle
  src/main/java/com/kummit/api_server/config/GeminiConfig.java
  src/main/java/com/kummit/api_server/controller/GeminiController.java
  src/main/java/com/kummit/api_server/dto/ProblemItem.java
  src/main/java/com/kummit/api_server/dto/ProblemList.java
  src/main/java/com/kummit/api_server/service/GeminiService.java
Owners: @KUmmIT-4/developers

feat: JPA 엔티티 · application.yml 추가
  application.yml
  build.gradle
  src/main/java/com/kummit/api_server/domain/BojProblemInfo.java
  src/main/java/com/kummit/api_server/domain/Problem.java
  src/main/java/com/kummit/api_server/domain/Record.java
  src/main/java/com/kummit/api_server/domain/User.java
Owners: @KUmmIT-4/developers

feat: JPA 엔티티 · application.yml 추가
  build.gradle
  src/main/java/com/kummit/api_server/domain/BojProblemInfo.java
  src/main/java/com/kummit/api_server/domain/Problem.java
  src/main/java/com/kummit/api_server/domain/Record.java
  src/main/java/com/kummit/api_server/domain/User.java
Owners: @KUmmIT-4/developers

gitignore update
  .gitignore
  application.yml
Owners: @KUmmIT-4/developers

gitignore update
  .gitignore
Owners: @KUmmIT-4/developers

gitignore update
  application.yml
Owners: @KUmmIT-4/developers

[FIX] application.properties 삭제
  src/main/resources/application.properties
Owners: @KUmmIT-4/developers

[FIX] enum 클래스로 분리
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/enums/CodingTier.java
  src/main/java/com/kummit/api_server/enums/PrimaryLanguage.java
  src/main/java/com/kummit/api_server/enums/Status.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

jpa partial update
  src/main/java/com/kummit/api_server/domain/BojProblemInfo.java
  src/main/java/com/kummit/api_server/domain/Problem.java
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

[FIX] entity enum 분리 및 getter 롬복 사용하도록 수정
  src/main/java/com/kummit/api_server/domain/BojProblemInfo.java
  src/main/java/com/kummit/api_server/domain/Problem.java
  src/main/java/com/kummit/api_server/domain/Record.java
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/dto/UserInfoResponse.java
  src/main/java/com/kummit/api_server/enums/ProblemTier.java
  src/main/java/com/kummit/api_server/enums/Status.java
  src/main/java/com/kummit/api_server/enums/UserTier.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

refactor: Record 엔티티 → Attempt로 리네임 및 테이블/PK 컬럼명 정리
  src/main/java/com/kummit/api_server/domain/Attempt.java
Owners: @KUmmIT-4/developers

fix: 서버 정상 작동 확인
  src/main/java/com/kummit/api_server/domain/Attempt.java
  src/main/java/com/kummit/api_server/domain/BojProblemInfo.java
  src/main/java/com/kummit/api_server/domain/Problem.java
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/dto/AttemptResponse.java
  src/main/java/com/kummit/api_server/dto/AttemptStartRequest.java
  src/main/java/com/kummit/api_server/enums/CodingTier.java
  src/main/java/com/kummit/api_server/enums/Status.java
  src/main/java/com/kummit/api_server/enums/UserStatus.java
  src/main/java/com/kummit/api_server/enums/UserTier.java
  src/main/java/com/kummit/api_server/repository/AttemptRepository.java
  src/main/java/com/kummit/api_server/repository/BojProblemInfoRepository.java
  src/main/java/com/kummit/api_server/repository/ProblemRepository.java
  src/main/java/com/kummit/api_server/service/AttemptService.java
  src/main/java/com/kummit/api_server/service/AttemptServiceImpl.java
  src/main/java/com/kummit/api_server/web/AttemptController.java
Owners: @KUmmIT-4/developers

commit for merge
  src/main/java/com/kummit/api_server/controller/AttemptsController.java
  src/main/java/com/kummit/api_server/dto/AttemptRequest.java
  src/main/java/com/kummit/api_server/dto/ProblemDetailDto.java
  src/main/java/com/kummit/api_server/service/ProblemService.java
Owners: @KUmmIT-4/developers

WIP: 작업 중인 변경사항 임시 커밋
  src/main/java/com/kummit/api_server/controller/AttemptsController.java
  src/main/java/com/kummit/api_server/dto/AttemptRequest.java
  src/main/java/com/kummit/api_server/dto/ProblemDetailDto.java
  src/main/java/com/kummit/api_server/repository/BojProblemInfoRepository.java
  src/main/java/com/kummit/api_server/service/ProblemService.java
Owners: @KUmmIT-4/developers

[FEAT] 회원가입, 로그인 로직 개발(테스트 전 병합용 백업)
  src/main/java/com/kummit/api_server/SessionStore.java
  src/main/java/com/kummit/api_server/controller/UserController.java
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/dto/UserRegisterRequest.java
  src/main/java/com/kummit/api_server/dto/request/UserLoginRequest.java
  src/main/java/com/kummit/api_server/dto/request/UserRegisterRequest.java
  src/main/java/com/kummit/api_server/dto/response/UserInfoResponse.java
  src/main/java/com/kummit/api_server/dto/response/UserResponse.java
  src/main/java/com/kummit/api_server/enums/CodingTier.java
  src/main/java/com/kummit/api_server/repository/UserRepository.java
  src/main/java/com/kummit/api_server/service/UserService.java
  src/main/java/com/kummit/api_server/web/UserController.java
Owners: @KUmmIT-4/developers

[FEAT] 회원가입, 로그인, 로그아웃 테스트 완료
  build.gradle
  src/main/java/com/kummit/api_server/controller/UserController.java
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

ProblemService.java 세미 콜론 오류 수정
  src/main/java/com/kummit/api_server/service/ProblemService.java
Owners: @KUmmIT-4/developers

[FIX] 깃병합 제발
  src/main/java/com/kummit/api_server/controller/AttemptsController.java
  src/main/java/com/kummit/api_server/service/ProblemService.java
Owners: @KUmmIT-4/developers

[FEAT] 사용자 정보 조회 기능 완성
  src/main/java/com/kummit/api_server/controller/UserController.java
  src/main/java/com/kummit/api_server/dto/response/UserInfoResponse.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

[FIX] primary_language enum 문제 해결
  src/main/java/com/kummit/api_server/controller/UserController.java
  src/main/java/com/kummit/api_server/dto/request/UserRegisterRequest.java
  src/main/java/com/kummit/api_server/dto/request/UserUpdateRequest.java
  src/main/java/com/kummit/api_server/dto/response/UserUpdateResponse.java
  src/main/java/com/kummit/api_server/enums/PrimaryLanguage.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

[FEAT] 사용자 정보 수정 기능 완료
  src/main/java/com/kummit/api_server/controller/UserController.java
  src/main/java/com/kummit/api_server/domain/User.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

시도 간략 정보 DTO AttemptBrief 및 시도 목록 응답 AttemptListResponse 추가
  src/main/java/com/kummit/api_server/dto/request/AttemptBrief.java
  src/main/java/com/kummit/api_server/dto/response/AttemptListResponse.java
Owners: @KUmmIT-4/developers

[FEAT] 리더보드 조회 및, 오늘 도전 기록 조회 기능 완성
  src/main/java/com/kummit/api_server/controller/UserController.java
  src/main/java/com/kummit/api_server/dto/request/AttemptQueryRequest.java
  src/main/java/com/kummit/api_server/dto/response/AttemptListResponse.java
  src/main/java/com/kummit/api_server/dto/response/AttemptSummaryResponse.java
  src/main/java/com/kummit/api_server/dto/response/LeaderboardListResponse.java
  src/main/java/com/kummit/api_server/dto/response/LeaderboardResponse.java
  src/main/java/com/kummit/api_server/repository/AttemptRepository.java
  src/main/java/com/kummit/api_server/repository/UserRepository.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

[REFACTOR] dto 파일명 수정
  src/main/java/com/kummit/api_server/controller/UserController.java
  src/main/java/com/kummit/api_server/dto/response/TodayAttemptListResponse.java
  src/main/java/com/kummit/api_server/service/UserService.java
Owners: @KUmmIT-4/developers

1/2
  src/main/java/com/kummit/api_server/ApiServerApplication.java
  src/main/java/com/kummit/api_server/config/AsyncConfig.java
  src/main/java/com/kummit/api_server/controller/AttemptsController.java
  src/main/java/com/kummit/api_server/controller/GeminiController.java
  src/main/java/com/kummit/api_server/dto/ProblemDetailDto.java
  src/main/java/com/kummit/api_server/enums/ProblemTier.java
  src/main/java/com/kummit/api_server/repository/BojProblemInfoRepository.java
  src/main/java/com/kummit/api_server/service/AttemptService.java
  src/main/java/com/kummit/api_server/service/AttemptServiceImpl.java
  src/main/java/com/kummit/api_server/service/GeminiService.java
  src/main/java/com/kummit/api_server/service/ProblemService.java
  src/main/java/com/kummit/api_server/web/AttemptController.java
Owners: @KUmmIT-4/developers

[FIX] 깃병합 제발
  src/main/java/com/kummit/api_server/controller/AttemptsController.java
Owners: @KUmmIT-4/developers

WIP: 작업 중인 변경사항 임시 커밋
  src/main/java/com/kummit/api_server/controller/AttemptsController.java
  src/main/java/com/kummit/api_server/dto/AttemptRequest.java
Owners: @KUmmIT-4/developers
